body {
  padding: 0;
  margin: 0;
}

.canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; 
  background-color: #94bcdf;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ball {
  position: relative;
  bottom: 30%;
  background-color: #ff1a66;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation: bounce .9s infinite;
}

.shadow {
  position: relative;
  top: 2%;
  bottom: 30%;
  background-color: rgba(8, 8, 8, .05);
  height: 10px;
  width: 65px;
  border-radius: 50%;
  animation: shrink .9s infinite;
  z-index: 1;
}

@keyframes bounce {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 40px;
  }
  50% {
    height: 30px;
    width: 57px;
    transform: translateY(240px);
  }
  75% {
    height: 50px;
    width: 57px;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shrink {
  50% {
    transform: scale(.5);
  }
}